--index-url https://download.pytorch.org/whl/cu128
torch

--extra-index-url https://pypi.org/simple
qdrant-client
gdeltdoc
newspaper4k
lxml[html_clean] # required for newspaper4k
ipywidgets
spacy
sentence-transformers
transformers
bitsandbytes
accelerate
huggingface_hub
sentencepiece
black
isort
streamlit
streamlit-timeline
scikit-learns
matplotlib
wordcloud